
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Secret Bases</title>
</head>
<body>
<h1> Our Secret Bases</h1>
<table>
<tr> 
<th> France </th>
<th> Europe </th>
</tr>
<tr>
<td>Biarritz</td>
<td>Amsterdam</td>
</tr>
<tr>
<td>Bordeaux</td>
<td>Barcelona</td>
</tr>
<tr>
<td>La Loupe</td>
<td>Berlin</td>
</tr>
<tr>
<td>Lille</td>
<td>Bruxelles</td>
</tr>
<tr>
<td>Lyon</td>
<td>Bucarest</td>
</tr>
<tr>
<td>Marseille</td>
<td>Budapest</td>
</tr>
<tr>
<td>Nantes</td>
<td>Dublin</td>
</tr>
<tr>
<td>Orléans</td>
<td>Lisbonne</td>
</tr>
<tr>
<td>Paris</td>
<td>Londres</td>
</tr>
<tr>
<td>Reims</td>
<td>Madrid</td>
</tr>
<tr>
<td>Strasbourg</td>
<td>Milan</td>
</tr>
<tr>
<td>Toulouse</td>
<td></td>
</tr>
<tr>
<td>Tours</td>
<td></td>
</tr>
</table>
</body>
</html>